<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-forms,o-buttons,o-grid" />
  <link rel="stylesheet" href="/main.css" />
  <title>Weather App</title>
  <meta charset="utf-8">
</head>
<body>
  <div class="o-grid-container">
    <div class="o-grid-row">
      <div data-o-grid-colspan="one-third center">
        <div class="o-forms">
          <h2>Welcome to My Weather App</h2>
          <label for="o-forms-standard" class="o-forms__label"></label>
          <input type="text" id="o-forms-standard" placeholder="Enter a City" class="o-forms__text" required=""></input>
          </br></br>
          <button id="save" class="o-buttons">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
