<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-forms,o-buttons,o-grid,o-header-services,o-card" />
  <link rel="stylesheet" href="/main.css" />
  <title>Weather App</title>
  <meta charset="utf-8">
  <header class="o-header-services" data-o-component="o-header">
    <div class="o-header-services__top o-header-services__container">
      <div class="o-header-services__ftlogo"></div>
      <div class="o-header-services__title">
        <h1 class="o-header-services__product-name"><a href="/">Weather App</a></h1><span class="o-header-subrand__product-tagline "></span>
      </div>
    </div>
  </header>
</head>
<body>
  <div class="o-grid-container">
    <div class="o-grid-row">
      <div data-o-grid-colspan="one-third center">
        <div class="o-forms">
          <form action="/" method="post">
            <br>
            <h1>Find the temperature in your city</h1>
            <input name="city" type="text" placeholder="Enter a City" id="o-forms__textarea" class="o-forms__textarea"required>
            <br><br>
            <input type="submit" class="o-buttons" value="Get Weather">
          </form>
          <br><br><br>
        </div>
      </div>
    </div>
  </div>
  <div class="o-grid-container">
    <div class="o-grid-row">
      <div data-o-grid-colspan="one-third center">
        <div class="demo-container demo-container--">
          <div class="o-card o-card-- o-card--image-" data-o-component="o-card">
            <div class="o-card__content">
              <h3 class="o-card__heading"><a>{{weatherCelsius}}</a></h3>
              <h3>{{weatherFahrenheit}}</h3>
              {{#if sun}}
              <img src="./images/sun.jpg" alt="sun">
              {{else}}
              <img src="./images/cloud.png" alt="cloud">
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../weather.js"></script>
</body>
</html>
