<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-forms,o-buttons,o-grid" />
  <link rel="stylesheet" href="/main.css" />
  <title>Weather App</title>
  <meta charset="utf-8">
</head>
<body>
  <div class="o-grid-container">
    <div class="o-grid-row">
      <div data-o-grid-colspan="one-third center">
        <div class="o-forms">
          <h1>Welcome to my weather app</h1>
          <label for="o-forms__select-standard" class="o-forms__label">Please select the city</label>
          <select id="o-forms__select-standard" class="o-forms__select">
            <option value="option1">London</option>
            <option value="option2">Paris</option>
            <option value="option3">Dublin</option>
          </select>
        </br><br>
        <button class="o-buttons">Submit</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
